
body,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif
}
body{

  background-color: #FFFDD0;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .close_button {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.open_button {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  bottom: 0;
  left: 0;
}
#sidebarclose{
    width: 50px;
  overflow:hidden ;
  margin-right:0;


}

.centered {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin-left: auto;
  margin-right: auto;
}


@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

#home{
  width: 50px;
  overflow:hidden ;
  margin-right:0;


  
}
#home:hover{
  filter: brightness(150%);

}
#Post{
  width: 50px;
  overflow:hidden ;
  margin-right:0;


  
}
#Post:hover{
  filter: brightness(150%);

}

#friend{
  width: 50px;
  overflow:hidden ;
  margin-right:0;


  
}
#friend:hover{
  filter: brightness(150%);

}

#profile{
  width: 45px;
  overflow:hidden ;
  margin-right:0;


  
}
#profile:hover{
  filter: brightness(150%);

}
.thumbnail{
float: left;
  width: 320px;


}
.postcontainer{
  border: 2px solid black;
  display: flex;
  
  align-items: center;
  justify-content: center;
  background-color: #818181;
  background-size: 10% auto;
  width: 50%;
  border-radius: 25px;
  overflow: hidden;

}
.title{

  font-size: 20px;
  padding-left: 20px;
  padding-top: 20%;
  font-size: 20px;
  padding-left: 20px;
}
.date{

  font-size: 20px;
  padding-left: 20px;
  padding-top: 20%;
  font-size: 20px;
  padding-left: 20px;
  
}

.friend_bar{
  position: relative;
  margin-top:-18px;
  float:right;
  top:0px;
}
.pfp{
  border-radius: 25px;
  width: 70px;


}
#friends_label{
  background-color:crimson;
  background-size:cover;
  margin-top:-30px;
  float:left;
  top:0px;
  text-decoration: none;
  border-radius: 10px;


}
#friend_menu_text{
  color: #444;

}
.subs_bar{
  position: absolute;
  bottom: 0;
  right: 0;
}
#subs_label{
  background-color:crimson;
  background-size:cover;
  margin-top:-30px;
  float:left;
  top:0px;
  text-decoration: none;
  border-radius: 10px;


}


